body {
  padding-top: 82px;
  font-family: 'Calibri', sans-serif;
  font-size: 16px;
  color:#000000;
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

body hr {
  border-top: 1px solid #000000;
  opacity: 0.5;
}

/* TODO: nasty DT flexdashboard bug that needs a real solution  */
.dataTables_scrollBody {
  max-height: calc(100vh - 200px) !important;
}

/*
a[href="#section-welcome"] {
  text-decoration: underline !important;
}
*/

.section.sidebar {
  background-color: rgba(24, 188, 156, 0.1);
}

.value-box {
  color: #fff;
}

.bg-primary {
  background-color: rgba(44, 62, 80, 0.7);
}

.navbar-inverse {
  background-color: rgb(0, 47, 108);
}

.navbar-inverse .navbar-nav > li > a {
  display: table-cell;
  vertical-align: middle;
}

.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover,
.navbar-inverse .navbar-nav > li.active > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  background-color: rgb(28, 68, 123);
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 20px;
  height: 72px;
}

.navbar-brand {
  font-size: 0;
}

.bg-info {
  background-color: rgba(52, 152, 219, 0.7);
}

.bg-warning {
  background-color: rgba(243, 156, 18, 0.7);
}

.bg-success {
  background-color: rgba(24, 188, 156, 0.7);
}

.bg-danger {
  background-color: rgba(231, 76, 60, 0.7);
}

.btn {
  white-space: normal;
}

.btn-default {
  background-color: rgb(30, 133, 123);
  border-color: rgb(30, 133, 123);
  border-radius: 50px;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:hover,
.btn-default:active:focus {
  background-color: rgb(21,91,85);
  border-color: rgb(21,91,85);
}

.btn-selected {
  background-color: rgb(21,91,85);
  border-color: rgb(21,91,85);
}

.btn-analysis {
  font-size: 20px;
  margin-top: 5pt;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: rgb(28, 68, 123);
}

.chart-title {
  font-size: 16px;
  border-bottom: 1px solid rgb(0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#Resources {
  position: absolute;
  right: 0px;
}

#section-welcome {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!-- Created with Inkscape (http://www.inkscape.org/) --%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 39.687501 21.166667' version='1.1' id='svg1486' inkscape:version='1.2.2 (b0a8486541, 2022-12-01)' sodipodi:docname='resized-hands-background.svg' inkscape:export-filename='resized-hands-background.svg' inkscape:export-xdpi='95.922333' inkscape:export-ydpi='95.922333' xmlns:inkscape='http://www.inkscape.org/namespaces/inkscape' xmlns:sodipodi='http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' xmlns:svg='http://www.w3.org/2000/svg'%3E%3Csodipodi:namedview id='namedview1488' pagecolor='%23ffffff' bordercolor='%23666666' borderopacity='1.0' inkscape:showpageshadow='2' inkscape:pageopacity='0.0' inkscape:pagecheckerboard='0' inkscape:deskcolor='%23d1d1d1' inkscape:document-units='mm' showgrid='false' inkscape:zoom='5.7513467' inkscape:cx='84.241139' inkscape:cy='31.644762' inkscape:window-width='1680' inkscape:window-height='987' inkscape:window-x='-8' inkscape:window-y='-8' inkscape:window-maximized='1' inkscape:current-layer='layer1' /%3E%3Cdefs id='defs1483'%3E%3CclipPath id='SVGID_00000009577818845045280880000009043172597534366886_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use7' /%3E%3C/clipPath%3E%3CclipPath id='clipPath393'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use391' /%3E%3C/clipPath%3E%3CclipPath id='clipPath397'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use395' /%3E%3C/clipPath%3E%3CclipPath id='clipPath401'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use399' /%3E%3C/clipPath%3E%3CclipPath id='clipPath405'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use403' /%3E%3C/clipPath%3E%3CclipPath id='clipPath409'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use407' /%3E%3C/clipPath%3E%3CclipPath id='clipPath413'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use411' /%3E%3C/clipPath%3E%3CclipPath id='clipPath417'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use415' /%3E%3C/clipPath%3E%3CclipPath id='clipPath421'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use419' /%3E%3C/clipPath%3E%3Crect id='SVGID_1_' y='0' width='2472' height='2472' x='0' /%3E%3C/defs%3E%3Cg inkscape:label='Layer 1' inkscape:groupmode='layer' id='layer1'%3E%3Cg id='g28' inkscape:export-filename='resized-hands-imagesvg' inkscape:export-xdpi='95.922333' inkscape:export-ydpi='95.922333' transform='matrix(0.0171605,0,0,0.01518912,-1.2710463,-16.364125)'%3E%3Cdefs id='defs5'%3E%3Crect id='rect1705' y='0' width='2472' height='2472' x='0' /%3E%3C/defs%3E%3CclipPath id='clipPath429'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible' id='use427' /%3E%3C/clipPath%3E%3Cpath style='fill:%23ec1164; transform: skew(9deg);' d='m 650.6,1377.3 c -12.8,12.8 -69.6,111 -98.2,178.3 -6.3,14.8 0,-51.4 8.8,-86.5 8.8,-35.1 28.7,-149 33.3,-168.9 4.7,-19.9 -14,-29.2 -36.8,-25.7 -22.8,3.5 -63.7,204.6 -70.1,237.3 -6.4,32.7 -0.6,-144.4 4.7,-194.6 5.3,-50.3 10.5,-99.9 -24,-102.9 -34.5,-2.9 -33.9,26.9 -38,96.4 -4.1,69.6 -14.9,174.5 -21.9,201.6 -7,27.2 -14,-139.4 -14,-178 0,-38.6 4.4,-87.7 -35.9,-91.2 -40.3,-3.5 -30.7,156.1 -31.6,227.1 -0.9,71 -19.3,123.6 -30.7,149.1 -11.4,25.4 -14,14 -14,14 0,0 -26.3,-66.6 -33.3,-106.1 -7,-39.5 -43.8,-56.1 -70.1,-50 -26.3,6.1 1.8,47.3 3.5,78.9 1.8,31.6 15.8,86.8 21,121.9 5.3,35.1 62.2,99.9 92.9,154.3 24.8,43.8 28.4,79.1 30.3,119.6 0.5,9.7 -12.8,812.8 -12.3,823.3 l 226.2,-38.6 c 0,0 -4,-758.1 -3.7,-777.7 0.7,-38 1.8,-96.3 3,-111.7 1.8,-23.4 29.8,-76.6 46.2,-128.6 16.4,-52 14.2,-101.2 16.4,-116.9 4.1,-29.8 59,-144.4 77.7,-187 14.7,-33.8 -15.3,-51.4 -29.4,-37.4 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path10' /%3E%3Cpath style='fill:%236acccd' d='m 1051.8,1357.8 c 12.8,12.8 69.5,111.1 98.2,178.3 6.3,14.8 0,-51.4 -8.8,-86.5 -8.8,-35.1 -28.6,-149 -33.3,-168.9 -4.7,-19.9 14,-29.2 36.8,-25.7 22.8,3.5 63.7,204.6 70.1,237.3 6.4,32.7 0.6,-144.4 -4.7,-194.6 -5.3,-50.3 -10.5,-99.9 24,-102.9 34.5,-2.9 33.9,26.9 38,96.4 4.1,69.6 14.9,174.5 21.9,201.7 7,27.2 14,-139.4 14,-178 0,-38.6 -4.4,-87.7 35.9,-91.2 40.3,-3.5 30.7,156.1 31.6,227.1 0.9,71 19.3,123.6 30.7,149 11.4,25.4 14,14 14,14 0,0 26.3,-66.6 33.3,-106.1 7,-39.4 43.8,-56.1 70.1,-50 26.3,6.1 -1.8,47.3 -3.5,78.9 -1.8,31.6 -15.8,86.8 -21,121.9 -5.3,35.1 -62.2,99.9 -92.9,154.3 -24.7,43.8 -28.4,79.1 -30.3,119.6 -0.4,9.7 12.8,812.8 12.3,823.3 L 1162,2717.1 c 0,0 4.1,-758.1 3.7,-777.7 -0.7,-38 -1.8,-96.3 -3,-111.8 -1.8,-23.4 -29.8,-76.6 -46.2,-128.6 -16.4,-52 -14.2,-101.2 -16.4,-116.9 -4.1,-29.8 -59,-144.4 -77.7,-187 -14.7,-33.7 15.3,-51.3 29.4,-37.3 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path12' /%3E%3Cpath style='fill:%23018bd3' d='m 1962.7,1389.5 c -14.7,10.6 -86.3,98.6 -125.2,160.4 -8.5,13.6 8.2,-50.8 22.4,-84 14.2,-33.2 51.9,-142.6 59.7,-161.5 7.8,-18.9 -9.2,-31.1 -32.3,-31.2 -23,-0.2 -95.4,191.9 -106.9,223.2 -11.5,31.3 22.3,-142.6 35.5,-191.4 13.2,-48.8 26.2,-97 -7.3,-105.4 -33.6,-8.4 -37.7,21.2 -52.8,89.2 -15.1,68 -42.4,169.9 -53.6,195.6 -11.2,25.7 8.3,-139.9 14.4,-178 6.1,-38.1 18.3,-85.9 -21,-95.7 -39.3,-9.9 -55.1,149.2 -67.2,219.2 -12.1,70 -38.7,119 -53.9,142.3 -15.3,23.3 -16.1,11.6 -16.1,11.6 0,0 -15.4,-70 -16.1,-110 -0.7,-40.1 -34.4,-62.4 -61.3,-60.5 -26.9,1.9 -5.8,47 -9.1,78.5 -3.3,31.4 1.8,88.2 1.4,123.7 -0.4,35.5 45.6,108.6 67.3,167.1 17.5,47.2 15.5,82.6 10.9,122.9 -1.1,9.7 -141.6,800.4 -142.8,810.9 l 229.4,-2.2 c 0,0 116.3,-749.1 119.8,-768.4 6.7,-37.4 17.1,-94.8 20.7,-109.9 5.4,-22.8 41.6,-70.9 66,-119.6 24.4,-48.8 30.1,-97.6 34.7,-112.8 8.8,-28.8 81.2,-133.2 106.4,-172.3 19.9,-31.1 -6.9,-53.3 -23,-41.7 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path14' /%3E%3Cpath style='fill:%23b6d237' d='m 2312.4,1561.5 c -16.2,8.1 -101.2,83.3 -149.6,138 -10.6,12 16.3,-48.8 35.7,-79.3 19.4,-30.5 74.4,-132.3 85.1,-149.6 10.7,-17.3 -4,-32.2 -26.8,-36.1 -22.7,-3.9 -125.3,173.8 -141.7,202.8 -16.5,29 45.2,-137.1 66.1,-183.1 20.9,-46 41.7,-91.5 9.9,-105.2 -31.8,-13.7 -40.7,14.8 -66.6,79.4 -25.9,64.7 -69.4,160.8 -84.7,184.3 -15.2,23.5 30.9,-136.7 43.1,-173.2 12.2,-36.6 31.9,-81.8 -5.2,-97.9 -37.1,-16.1 -78.6,138.3 -101.9,205.4 -23.3,67.1 -57.5,111.1 -76.3,131.6 -18.9,20.5 -17.8,8.9 -17.8,8.9 0,0 -3.8,-71.5 2,-111.2 5.9,-39.6 -23.8,-67.1 -50.7,-69.6 -26.9,-2.5 -13.4,45.5 -21.7,75.9 -8.3,30.5 -12.5,87.3 -18.7,122.3 -6.1,34.9 27.4,114.5 39.2,175.8 9.6,49.4 1.9,84 -9.2,123.1 -2.7,9.4 -269.7,766.8 -272.5,777 l 226.8,35.1 c 0,0 236.4,-720.3 242.9,-738.8 12.7,-35.8 32.3,-90.8 38.2,-105 9.1,-21.6 52.5,-63.2 84.5,-107.3 32,-44.2 45.5,-91.5 52.6,-105.7 13.3,-27 101.7,-118.2 133,-152.8 24.9,-27.5 2,-53.7 -15.7,-44.8 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path16' /%3E%3Cpath style='fill:%23cd66cb' d='m 535.2,1388.1 c -10.2,15 -47.8,122 -63.5,193.4 -3.4,15.7 -9.5,-50.5 -7.4,-86.6 2.1,-36.1 0.6,-151.8 1.5,-172.2 0.9,-20.4 -19.2,-26.1 -40.9,-18.5 -21.8,7.7 -24.8,212.8 -25,246.2 -0.3,33.3 -27.3,-141.8 -31.4,-192.1 -4.1,-50.4 -8.2,-100.2 -42.6,-96.7 -34.4,3.5 -28.3,32.7 -19.5,101.8 8.8,69.1 17.6,174.2 15.8,202.2 -1.9,28 -39.6,-134.4 -46.7,-172.3 -7.1,-37.9 -11.9,-87 -52.2,-83 -40.3,4 -1.3,159 11,229 12.3,69.9 3.9,125 -2.6,152.1 -6.5,27.1 -11.2,16.4 -11.2,16.4 0,0 -38.2,-60.6 -52.4,-98.1 -14.2,-37.5 -53.5,-47 -78.2,-36.1 -24.7,10.9 10.5,46.2 18,76.9 7.6,30.7 31.6,82.4 43.2,115.9 11.7,33.5 79.7,86.7 119.9,134.5 32.4,38.5 42.5,72.5 51.9,112 2.2,9.5 137.8,801.1 140.2,811.4 l 215.2,-79.7 c 0,0 -144.2,-744.3 -147.5,-763.6 -6.4,-37.4 -16.1,-95 -17.8,-110.4 -2.6,-23.3 15.1,-80.8 21.6,-134.9 6.5,-54.2 -4.8,-102.1 -5.5,-117.9 -1.5,-30 31.3,-152.8 41.8,-198.2 8.3,-36.1 -24.5,-47.8 -35.7,-31.5 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path18' /%3E%3Cpath style='fill:%23b6d237' d='m 980.3,1295 c -9.6,15.3 -43.1,123.8 -56,195.7 -2.8,15.8 -11.5,-50.1 -10.7,-86.3 0.7,-36.1 -5.3,-151.7 -5.1,-172.1 0.2,-20.4 -20.2,-25.4 -41.6,-16.9 -21.4,8.5 -16.6,213.6 -15.5,247 1,33.3 -32.7,-140.6 -38.8,-190.8 -6.1,-50.2 -12,-99.8 -46.3,-95 -34.3,4.8 -27.1,33.8 -15.6,102.5 11.5,68.7 24.3,173.4 23.5,201.5 -0.8,28 -44.7,-132.8 -53.3,-170.4 -8.6,-37.6 -15.2,-86.4 -55.3,-80.9 -40.1,5.6 4.8,159 19.8,228.4 15,69.4 8.7,124.8 3.3,152.1 -5.5,27.3 -10.6,16.8 -10.6,16.8 0,0 -40.5,-59.1 -56.1,-96 -15.6,-36.9 -55.2,-45 -79.5,-33.1 -24.3,11.8 12.2,45.8 21,76.1 8.7,30.4 34.7,81.1 47.7,114.1 12.9,33 82.9,83.6 125,129.7 33.9,37.2 45.3,70.8 56.1,109.9 2.6,9.4 168.5,795.2 171.4,805.4 l 211.9,-88 c 0,0 -172.7,-738.2 -176.8,-757.3 -7.8,-37.2 -19.7,-94.3 -22,-109.6 -3.5,-23.2 12,-81.3 16.4,-135.6 4.4,-54.4 -8.7,-101.8 -10.1,-117.6 -2.7,-30 25.4,-153.9 34.1,-199.6 6.9,-36.3 -26.3,-46.8 -36.9,-30 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path20' /%3E%3Cpath style='fill:%23f35a22' d='m 1178.4,1513.7 c -12.8,12.8 -69.5,111.1 -98.2,178.3 -6.3,14.8 0,-51.4 8.8,-86.5 8.8,-35.1 28.6,-149 33.3,-168.9 4.7,-19.9 -14,-29.2 -36.8,-25.7 -22.8,3.5 -63.7,204.6 -70.1,237.3 -6.4,32.7 -0.6,-144.4 4.7,-194.6 5.3,-50.3 10.5,-99.9 -24,-102.9 -34.5,-2.9 -33.9,26.9 -38,96.4 -4.1,69.6 -14.9,174.5 -21.9,201.7 -7,27.2 -14,-139.4 -14,-178 0,-38.6 4.4,-87.7 -35.9,-91.2 -40.3,-3.5 -30.7,156.1 -31.6,227.1 -0.9,71 -19.3,123.6 -30.7,149 -11.4,25.4 -14,14 -14,14 0,0 -26.3,-66.6 -33.3,-106.1 -7,-39.4 -43.8,-56.1 -70.1,-50 -26.3,6.1 1.8,47.3 3.5,78.9 1.8,31.6 15.8,86.8 21,121.9 5.3,35.1 62.2,99.9 92.9,154.3 24.8,43.8 28.4,79.1 30.3,119.6 0.4,9.7 -12.8,812.8 -12.3,823.3 l 226.2,-38.6 c 0,0 -4,-758.1 -3.7,-777.7 0.7,-38 1.8,-96.3 3,-111.8 1.8,-23.4 29.8,-76.6 46.2,-128.6 16.4,-52 14.2,-101.2 16.4,-116.9 4.1,-29.8 59,-144.4 77.7,-187 14.6,-33.7 -15.4,-51.3 -29.4,-37.3 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path22' /%3E%3Cpath transform='translate(2000), scale(-1, 1)' style='fill:%23f35a22' d='m 1450.9,1795.4 c 8.5,16 33.7,126.6 41.2,199.3 1.6,16 15.2,-49.1 17.2,-85.2 2,-36.1 16.6,-150.9 18,-171.2 1.4,-20.4 22,-23.8 42.8,-13.7 20.7,10.1 0.5,214.3 -3,247.4 -3.5,33.2 43.2,-137.8 53,-187.3 9.8,-49.6 19.5,-98.6 53.3,-91.2 33.8,7.4 24.5,35.7 7.8,103.3 -16.6,67.7 -37.3,171.1 -38.6,199.1 -1.3,28 54.6,-129 66,-165.9 11.4,-36.9 21.7,-85.1 61.3,-76.5 39.6,8.6 -16.7,158.2 -36.9,226.3 -20.1,68.1 -18.1,123.8 -14.7,151.5 3.4,27.7 9.3,17.5 9.3,17.5 0,0 44.8,-55.9 63.1,-91.5 18.4,-35.6 58.5,-40.7 81.8,-27 23.3,13.6 -15.7,44.7 -26.7,74.4 -11,29.6 -40.7,78.3 -56.1,110.2 -15.4,32 -89,77.1 -134.3,120 -36.6,34.6 -50.5,67.2 -64.2,105.4 -3.3,9.2 -227.7,780.3 -231.3,790.2 L 868.2,3126.9 c 0,0 227.7,-723.1 233.1,-741.9 10.6,-36.5 26.7,-92.6 30.2,-107.6 5.2,-22.9 -5.9,-82 -6.1,-136.5 -0.3,-54.5 16.3,-100.9 18.9,-116.5 4.9,-29.7 -13.8,-155.4 -19,-201.7 -4.6,-36.9 29.3,-44.9 38.6,-27.3 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path24' /%3E%3Cpath style='fill:%23ec1164' d='m 1945.2,1737.9 c 9.1,15.7 38.7,125.2 49.1,197.5 2.3,15.9 13.2,-49.7 13.8,-85.8 0.5,-36.1 10.6,-151.4 11.2,-171.8 0.6,-20.4 21.1,-24.6 42.2,-15.4 21.1,9.2 9,214.1 6.8,247.4 -2.2,33.3 37.7,-139.4 45.5,-189.3 7.8,-49.9 15.5,-99.3 49.6,-93.3 34.1,6 25.9,34.7 11.9,103 -13.9,68.3 -30.4,172.4 -30.6,200.5 -0.2,28.1 49.4,-131.1 59.3,-168.4 9.9,-37.3 18.3,-85.9 58.2,-78.9 39.9,7 -10.4,158.7 -27.9,227.6 -17.4,68.9 -13.1,124.4 -8.6,151.9 4.5,27.5 10,17.2 10,17.2 0,0 42.5,-57.6 59.4,-94 16.9,-36.3 56.8,-43 80.6,-30.3 23.8,12.7 -13.9,45.3 -23.7,75.4 -9.8,30 -37.6,79.8 -51.6,112.4 -14.1,32.5 -85.8,80.6 -129.5,125.2 -35.2,36 -47.8,69.2 -60,107.8 -2.9,9.3 -78.2,343.9 -81.4,353.9 l -208.7,-95.4 c 0,0 80.4,-286.7 85.1,-305.8 9.1,-36.9 23,-93.6 25.8,-108.8 4.3,-23 -9.1,-81.7 -11.6,-136.1 -2.4,-54.5 12.3,-101.4 14.2,-117.2 3.7,-29.9 -20,-154.7 -27.1,-200.7 -5.5,-36.4 28.1,-45.8 38,-28.6 z' clip-path='url(%23SVGID_00000009577818845045280880000009043172597534366886_)' id='path26' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

/* consider making width 100%  */
.welcome-div {
  width: 66.67%;
  margin: 0 auto;
}

.welcome-div ul {
  list-style: none;
}

.welcome-div ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color:  rgb(38, 132, 122); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.welcome-div h1 {
  font-family: 'Calibri';
  font-size: 20pt;
  font-weight: bold;
  color: rgb(1, 87, 155);
  margin-top: 0.0625in;
  margin-bottom: 0.125in;
}

.welcome-div h2,
.welcome-div h3,
.welcome-div h4,
.welcome-div h5,
.welcome-div h6 {
  color: rgb(1, 87, 155);
  font-family: 'Calibri';
  margin-top: 0.0625in;
  margin-bottom: 0.125in;
  font-weight: 400;
}

.download-report {
  min-height: 100px;
}

.import-data > .chart-stage {
  overflow-y: scroll;
}

.display-data > .chart-stage {
  overflow-y: scroll;
}

.display-data .dataTables_scrollBody {
  overflow-y: hidden !important;
}

#section-column-2 h5 {
  font-size: 16px;
  font-weight: normal;
  color:#000000;
}

#options-label-1 h5,
#options-label-2 h5 {
  font-size: 18px;
  font-weight: normal;
  color:#000000;
}


.identify-data-collection-method > .chart-stage {
  overflow-y: scroll;
}

.select-analysis-type h3 {
  color: #01579b;
}

.select-analysis-type > .chart-stage {
  overflow-y: scroll;
}

.specify-analysis > .chart-stage {
  overflow-y: scroll;
}

.paginate_button {
  background: none !important;
  background-color: rgb(30, 133, 123) !important;
  border-color: rgb(30, 133, 123) !important;
}

.paginate_button:hover,
.paginate_button:active,
.paginate_button:focus,
.paginate_button:active:hover,
.paginate_button:active:focus, {
  background: none !important;
  background-color: rgb(21,91,85) !important;
  border-color: rgb(21,91,85) !important;
}


/* https://gitlab.westat.com/Statistics/idcnrba/-/issues/105 */
/* we have to overwrite DT variables because the libraries we depend on use !important and so the element rules cannot be overwritten */
body {
  --dt-row-selected: 246, 246, 246;
  --dt-row-selected-text: 51, 51, 51;
}


/* https://gitlab.westat.com/Statistics/idcnrba/-/issues/96 */
/* force dropdown menus at the bottom of the page to "drop up" - does not happen on its own because parent div does not have fixed height */
#psu_cluster_variables + div > .selectize-dropdown,
#ssu_cluster_variables + div > .selectize-dropdown {
  bottom: 100% !important;
  top: auto !important;
}